
<!DOCTYPE html>
<html>
<body>
<h1>Travel Page</h1>
<%= image_tag("home.jpeg")%>

<p>New Travel Blog.</p>
<p>Destination: Zion National Park.</p>

<%= link_to 'About', pages_about_path %>

</body>
</html>


